.verde {
    background-color: green;
    border: 1px solid black;
}

.gris {
    background-color: gray;
    border: 1px solid black;
}

.blanco {
    background-color: white;
    border: 1px solid black;
}

.data {
    min-height: 500px;
    border: 1px solid black;
}