.container {
    position: relative;
}

.caja {
    width: 180px;
    height: 180px;
    background-color: #30B037;
    color: #FFF;
    text-align: center;
    line-height: 180px;
    margin: 15px;
    float: left;
    font-size: 18px;
    font-family: Arial;
}

.caja {
    transition: all 1s ease-in-out;
}

.caja1:hover {
    background-color: red;
    transform: scale(2, 2);
}

.caja2:hover {
    background-color: purple;
    transform: rotate(720deg);
}

.caja3:hover {
    background-color: blue;
    transform: Skew(20deg, 10deg);
}

.caja4:hover {
    background-color: lightskyblue;
    transform: SkewX(20deg);
}

.caja5:hover {
    background-color: cyan;
    transform: SkewY(10deg);
}

.caja6:hover {
    background-color: yellow;
    transform: Translate(50px, 30px);
}

.caja7:hover {
    background-color: orangered;
    transform: TranslateX(50px);
}

.caja8:hover {
    background-color: gray;
    transform: TranslateY(30px);
}

.caja9:hover {
    background-color: darkblue;
    transform: Perspective(150px) rotateY(40deg);
}

.caja10:hover {
    background-color: darkgray;
    transform: Perspective(150px) rotateX(80deg);
}

.caja11:hover {
    background-color: black;
    transform: Matrix(1, 0, 0.5, 1, 150, 0);
}