body{
    margin: 0;
}
#cabecera {
    background-color: green;
}

#cuerpo {
    min-height: 400px;
}

#pie{
    text-align: center;
    background-color: red;
    color:aliceblue;
}

#izquierdo{
    float: left;
    width: 200px;
    background-color: red;
}